.content {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 60px);
}

.task-main {
    flex: 5;
}

.activity-aside {
    flex: 1;
    background-color: var(--blue);
}

.activity-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5px;
    background-color: var(--gray-blue);
}

.activity-item {
    width: 90%;
}

.activity-button {
    width: 100%;
}

.activity-title {
    text-align: center;
    width: 100%;
}

.activity-button:hover {
    cursor: pointer;
}

@media (max-width: 800px){
    .content {
        flex-direction: column;
    }
}
