:root {
  --blue: #5e91c4;
  --white: #fff;
  --red: #de7871;
  --red-dark: #ad5953;
  --yellow: #fff34f;
  --gray-blue-dark: #b3caf5;
  --gray-blue: #d0dff7;
  --gray-blue-light: #edf4ff;
}

* {
  margin: 0;
  list-style-type: none;
}

.body {
  height: 100vh;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

/** PAGE CONTAINER **/

.page-container {
  margin-left: 160px;
  transition: all 0.5s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-header-title {
  background-color: var(--gray-blue-dark);
  height: 60px;
  width: calc(100vw - 160px);
  line-height: 60px;
  position: fixed;
  top: 0;
}

.content {
  padding: 0;
  min-height: calc(100vh - 60px);
  margin: 60px 0 0;
}

.about {
  margin: 30px 100px;
}

.about-paragraph {
  font-size: 1.1em;
  margin: 30px 0;
  text-align: left;
}

@media (max-width: 700px){
}


@media (max-width: 500px){
  .page-container {
    margin-left: 60px;
  }

  .page-header-title {
    width: calc(100vw - 60px);
  }
}
