.task-table {
    max-width: 60vw;
    margin: 30px auto;
    border-collapse: collapse;
}

.task-heading {
    background-color: var(--gray-blue);
    font-size: 1.2em;
}

.task-time {
    font-size: 1.1em;
    font-weight: 600;
    width: 12vw;
}

.task-row:nth-child(even) .task-time {
    background-color: var(--gray-blue);
}

.task-row:nth-child(odd) .task-time {
    background-color: var(--gray-blue-light);
}

.task-body {
    background-color: var(--blue);
    padding: 4px 30px;
    font-size: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.2em 0.2em 0;
}

.task-title,
.task-desc {
    margin: 10px;
}

.task-desc {
    max-width: 12em;
}

.task-button {
    color: var(--white);
    background-color: var(--red);
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 600;
    padding: 20px 40px;
    border: none;
    margin: 20px;
}

.task-button:hover {
    cursor: pointer;
    background-color: var(--red-dark);
}


.context-menu {
    font-size: 14px;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px 0 5px 0;
    width: 150px;
    height: auto;
    margin: 0;
    /* use absolute positioning  */
    position: absolute;
    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.context-menu-option:hover {
    cursor: pointer;
}
